
<% if !current_user.admin? %> 
  <h1>Page Not Found</h1> 
<% else %>
<h1>Faculties</h1>
<div class="row">
  <div class="span4 offset0">
    <%= form_for(@faculty) do |f| %>
      
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :faculty_name %>
      <%= f.text_field :faculty_name %>

      <%= f.label :faculty_short_name, "Symbol" %>
      <%= f.text_field :faculty_short_name, :maxlength=>"2"%>

      <%= f.label :faculty_type %>
      <%= f.select :faculty_type, options_for_select([["Faculties", "Faculties"], ["Institutes", "Institutes"], ["Colleges", "Colleges"], ["Centers", "Centers"]]) %>
      <%= f.submit "Add Faculty", class: "btn btn-medium btn-warning" %>
    <% end %>
  </div>

  <div class="span4 offset1">
     ALL FACULTIES
    <ul class="users">
      <%= render partial: @faculties, collection: @faculty_items %>
    </ul> 
  </div>
</div>

<% end %>

