<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="span3 offset0">
        <%= image_tag @user.user_image_url.to_s, size:"220" %>
        <%= f.file_field :user_image %>
      </div>
      <div class="span7 offset1">
        <div> 
          <%= f.label :first_name, "Firstname", :class => "must-fill-feild" %>
          <%= f.text_field :first_name %>

          <%= f.label :last_name, "Lastname" %>
          <%= f.text_field :last_name %>

          <%= f.label :password, :class => "must-fill-feild"  %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirmation", :class => "must-fill-feild"  %>
          <%= f.password_field :password_confirmation %>

          <%= f.label :description%>
          <%= f.text_area :description %>
        </div>
          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :phone %>
          <%= f.text_field :phone, :maxlength=>"10"%>

          <%= f.label :faculty %>
          <%= f.collection_select(:faculty, Faculty.all, :id, :faculty_name) %>

          <%= f.submit "Save changes", class: "btn btn-medium btn-warning" %>
      </div>
    </div>
  <% end %>
</div>