<% provide(:title, @title) %>
<div class="row">
  <div class="span3 offset0">
  <tab><%= image_tag @user.user_image_url.to_s, size:"220" %> 
  </div>
  <div class="span7">
  <h1> <%= link_to @user.first_name+" "+@user.last_name, user_path(@user)%>  </h1>
    <%= render 'shared/stats' %>
    <h2><%= @title %></h2>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>