<% provide(:title, @user.first_name) %>
<h1>
	<%= @user.first_name%> <%= @user.last_name %> <%= @user.admin %> 
  <% if current_user.admin? && !current_user?(@user) %> 
        | <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>
</h1>

<div class="row">
  <div class="span3 offset0">
	<%= gravatar_for @user %> 
  </div>
  <section>
        <%= render 'shared/stats' %>
        <%= render 'follow_form' if signed_in? %>
  </section>
  <div class="span4 offset1"> 
	<p><%= @user.description%> </p>
  </div>
</div>
<div = "row">
	<nav>
  	<ul class="nav nav-pills">
  	  <li><%= link_to "Up Coming Events", '#' %> </li>
  	  <li><%= link_to "Past Events", '#' %> </li>
  	</ul>
  </nav>
  <div class="span8">
    <% if @user.events.any? %>
      <h3> <%= @user.events.count %> events</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events%>
    <% else %>
      There is no events yet!
    <% end %>
  </div>
</div>

