<% provide(:title, @user.first_name) %>
<h1>
	<%= @user.first_name%> <%= @user.last_name %> 
  <% if @user.admin %>  ( Admin ) <% end %>
  <% if current_user.admin? && !current_user?(@user) %> 
        | <%= link_to "delete", @user, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>
</h1>

<div class="row">
  <div class="span3 offset0">
	<tab><%= image_tag @user.user_image_url.to_s, size:"220" %>
  </div>
  <div class="span4"> 
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if signed_in? %><br>
	  <h3><%= @user.description%> </h3>
  </div>
</div>


<!-- Nav tabs -->
<div class ="subtitle_tab_head">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#upcoming" data-toggle="tab">Upcoming Events</a></li>
    <li><a href="#past" data-toggle="tab"> Past Events </a></li>
  </ul>
</div>

<div class ="subtitle_content">
  <!-- Tab panes -->
  <div class="tab-content"> 
    <div class="tab-pane active" id="upcoming">
      <ol class="events"><%= render @upcoming_events %></ol>
      <%= will_paginate @upcoming_events%>
    </div>
    <div class="tab-pane" id="past">
      <ol class="events"><%= render @past_events %></ol>
      <%= will_paginate @upcoming_events%>
    </div>
  </div>
</div>


