
<li>
  <div class = "row">
    <div class ="span2 offset1">
    <tab>
	    <%= image_tag event.event_image_url.to_s, size:"150" %>
    </div>
    <div class = "span5">
      <div class = "event-title"> 
		  <%= link_to event.event_name, event %>
	  </div>
	  type: <%= event.event_type %><br>
	  by : <b> <%= link_to event.user.first_name+" "+ event.user.last_name, event.user  %> </b><br>
	  satrt : <b> <%= time_tag(event.start_date) %> </b> | 
	  end :<%= time_tag(event.end_date) %> <br>
	  <% event.has_locations.each do |location| %>
	    <%= location.location %>
	  <% end %>
	</div>
	<div class = "span1 offset1">
	  <div class="row"> 
	    <br><detail>
	      <% if event.event_cost == 0 %>
	        free
	      <% else %>
	    	<%= event.event_cost %>
	      <% end %>
	    </detail> <br> 
	  </div>
	  <div class="row"> cost </div>
	</div>
	<div class = "span1">
	  <div class="row"> <br> <detail> 1,200 </detail><br> </div>
	  <div class="row"> pre-regist </div>
	</div>
  </div>
</li>