<% provide(:title, "Edit Event") %>
<h1> Edit Event</h1>


<%= form_for(@event)  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class ="subtitle_head">General Infomation </div>
  <div class = "row">
	<div class="span3 offset1">
	  Type: <%= f.collection_select(:event_type, EventType.all, :name, :name) %>
	  <%= f.label :event_image %>
	  <%= image_tag @event.event_image_url.to_s, size:"220" %>
	  <%= f.file_field :event_image%>
	</div>
	<div class="span5 offset1">

	  <p class="must-fill-feild">
	  	<%= f.check_box :event_preregist, checked: "checked" %> 
	    I want people to pre-regist for this event</p>

	  <%= f.label :event_name %>
	  <%= f.text_field :event_name %>

	  <div id="startDatePicker" class="input-append date">
	    <%= f.label :start_date %>
	    <%= f.text_field :start_date, :data => {:format => "dd/MM/yyyy hh:mm"} %>
		<span class="add-on"> Pick a date</span>
	  </div>

	  <div id="endDatePicker" class="input-append date">
	    <%= f.label :end_date %>
	    <%= f.text_field :end_date, :data => {:format => "dd/MM/yyyy hh:mm"} %>
		<span class="add-on"> Pick a date</span>
	  </div>

	  <%= f.label :event_description %>
	  <%= f.text_area :event_description, :class => "form-control", :rows => "5"%>
	</div>
  </div>
  <div class ="subtitle_head"> Details </div>
	<div class="row">
	  <div class="span4 offset1">

	    <p> <%= f.check_box :event_food %> food and drinks included </p>
		
	    <%= f.label :event_cost, "Costs (Baht)" %>
		<%= f.text_field :event_cost, :value => 0 %>

		<div class="row">
		  <div class = "span3">
			<%= f.label :event_guest_type, "Guest Type" %>
			<%= f.select :event_guest_type, options_for_select([["Public", "Public"], ["Staff and Students", "Staff and Students"], ["Students Only", "Students Only"]]) %>
		  </div>
		  <div class = "span1">
			<%= f.label :event_guest_limit, "Limit" %>
			<%= f.text_field :event_guest_limit, :value => 0 %>
		  </div>
		</div>

	  </div>
	  <div class="span4 offset1">
		<%= f.fields_for :has_locations do |builder| %>
		  <%= render "has_locations_fields", :f => builder %>
	    <% end %>
	  </div>
	</div>
  <div class ="subtitle_head"> Contact Infomation </div>
  <div class ="row">
    <div class="span4 offset1">
      <%= f.fields_for :has_contacts do |builder| %>
			<%= render "has_contact_fields", :f => builder %>
	  <% end %>
	  <%= link_to_add_fields "Add more Contact", f, :has_contacts %>
    </div>
    <div class="span4 offset1">
      <%= f.fields_for :has_socials do |builder| %>
		<%= render "has_social_fields", :f => builder %>
	  <% end %>
	  <%= link_to_add_fields "Add more URL", f, :has_socials %>
    </div>
  </div>
  <%= f.submit "Edit this Event", class: "btn btn-large btn-warning" %>
<% end %>


