<% provide(:title, 'Create Event') %>
<h1>Create Event</h1>



<%= form_for(@event) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class ="title_head">General Infomation </div>
  <div class = "row">
	<div class="span3 offset1">
	  Type: <%= f.collection_select(:event_type, EventType.all, :id, :name) %>
	  <%= image_tag("#", size:"220") %>, 
	</div>
	<div class="span4 offset1">

	  <%= f.check_box :event_preregist, checked: "checked" %> 
	  <text class="must-fill-feild"> I want people to pre-regist for this event</text>

	  <%= f.label :event_name %>
	  <%= f.text_field :event_name %>

	  <%= f.label :start_date %>
	  <%= f.date_field :start_date %>

	  <%= f.label :end_date %>
	  <%= f.date_field :end_date %>

	  <%= f.label :event_guest_type %>
	  <%= f.text_field :event_guest_type %>

	  <%= f.label :event_guest_limit %>
	  <%= f.text_field :event_guest_limit %>

	  <%= f.label :event_food %>
	  <%= f.text_field :event_food%>

	  <%= f.label :event_description %>
	  <%= f.text_area :event_description%>

	</div>
  </div>
  <div class ="title_head"> Contact Infomation </div>
  <div class ="row">
    <div class="span4 offset0">
      Contact Info
    </div>
    <div class="span4 offset1">
      Social Links
    </div>
  </div>
  <%= f.submit "Create my event", class: "btn btn-large btn-warning" %>
<% end %>
