<% provide(:title, @event.event_name) %>
<h1>
	<%= @event.event_name%> 
    <% if current_user.admin? || current_user?(@event.user)  %> 
        | <%= link_to "delete", @event , method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @event.event_name %>
    <% end %>
</h1>

<div>
	Event details 
</div>


<div>
  <h3>Comments (<%= @event.comments.count %>)</h3>
  <section class="span5">
    <%= render 'shared/comment_form' %>
  </section>
  <div class="span8">
    <% if @comment_items.any? %>
      <ol class="comments">
        <%= render partial: 'comments/comment', collection: @comment_items %>
      </ol>
      <%= will_paginate @comment_items %>
    <% end %>
  </div>
</div>