<% provide(:title, @event.event_name) %>
<% @user ||= User.find(@event.user_id) %>
<% @event_type ||= EventType.find_by name: @event.event_type %>
<div class = "row"> <h2> 
  <div class ="span9">
    <%= @event.event_type%> |
    <%= @event.event_name%>
  </div>
  <div class ="span1 offset1">
    <% if signed_in? %>
      <% if current_user?(@event.user) %> 
        <%= link_to image_tag("edit.png", size: "20"), edit_event_path(@event) %>
      <% end %> 
      <% if current_user.admin? || current_user?(@event.user) %> 
        <%= link_to image_tag("delete.png", size: "20"), @event , method: :delete,
                                         data: { confirm: "You sure?" },
                                         title: @event.event_name %>
      <% end %>
    <%end%> 
  </div> </h2>
</div>

<br><br>

<div class= "row">
  <div class="span3">

    <%= image_tag @event.event_image_url.to_s, size:"220" %>
  </div>
  <div class="span5 offset1">
    <h3> by <%= link_to @user.first_name+" "+@user.last_name, @user %> </h3>
    <p>
      Start at:<%= @event.start_date%> <br><br>
      End at: <%= @event.end_date%>  
    </p>
  </div>
</div>

<br><br>

<!-- Nav tabs -->
<div class ="subtitle_tab_head">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#about" data-toggle="tab">About</a></li>
    <li><a href="#location" data-toggle="tab"> Location </a></li>
    <li><a href="#contact" data-toggle="tab"> Contact / Social </a></li>
  </ul>
</div>

<div class ="subtitle_content">
  <!-- Tab panes -->
  <div class="tab-content"> 
    <div class="tab-pane active" id="about">
      <b> Cost: </b> 
        <% if @event.event_cost = 0 %> free
        <% else %> <%= @event.event_cost%> <% end %> |
      <b>Food & Drink:</b> 
        <% if @event.event_food%> included
        <% else %> not included <% end %>  
      <br><br>
      <b> Guest Limit: </b> <%= @event.event_guest_limit%> |
      <%= @event.event_guest_type%>
      <br><br>
      <%= @event.event_description%>
    </div>
    <div class="tab-pane" id="location">
      <% for has_location in @event.has_locations %>
        <b> Location: </b> 
        <%= has_location.location %> | 
        <b> room: </b>
        <%= has_location.room %>
        (<%= has_location.floor_number %>th Floor ) <br><br>
        <b> Location Description: </b>
        <%= has_location.description %> <br> <br> 
        <% @map = Map.find(1).map_image %>
        <h3><%= link_to "Click here to view university map ", @map.to_s %> or 
            <%= link_to "download file", download_map_path %>
        </h3>
      <% end %>
    </div>

    <div class="tab-pane" id="contact">
      <div class="roew">
        <div class="span4 offset">
          <b> Contact Info: </b><br>
          <% for has_contact in @event.has_contacts %>
            <b> Name: </b> <%= has_contact.contact_name %> <br>
          <% if has_contact.contact_phone? %>
            <b> Phone: </b> <%= has_contact.contact_phone %> | 
          <% end %>
          <%= has_contact.contact_email %> <br> <br> 
          <% end %>
        </div>
        <div class="span4 offset1">
          <b> Social Media Links: </b><br>
          <% for has_social in @event.has_socials %>
            <% @social_link = SocialLink.find_by social_name: has_social.social_links %>
            <% if @social_link %>
              <%= image_tag @social_link.social_image_url.to_s, size:"50" %>
            <% else %>
              <b><%= has_social.social_links %> </b> | 
            <% end %>
            <%= has_social.social_url %> <br><br> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class ="subtitle_head"> Comments (<%= @event.comments.count %>)</div>
  <div class ="subtitle_content">
    <div class = "row">
      <div class="span8">
      <% if signed_in? %>
        <%= render 'shared/comment_form' %>
      <% else %>
        <%= link_to "please sign in to comment", signin_url %>
      <% end %>
      </div>
      <div class="span8">
        <% if @comment_items.any? %>
          <ol class="comments">
            <div id="comment_items">
              <%= render 'comments/comment', comments: @comment_items %>
            </div>
          </ol>
          <%= will_paginate @comment_items %>
        <% end %>
      </div>
    </div>
  </div>
