<% provide(:title, @event.event_name) %>
<h1>
	<%= @event.event_name%> 
    <% if current_user.admin? || current_user?(@event.user)  %> 
        | <%= link_to "delete", @event , method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @event.event_name %>
    <% end %>
</h1>


Event details 

<div class="span8">
  <section>
    <%= render 'shared/comment_form' %>
  </section>
  <% if @event.commentable.any? %>
    <h3>Comments (<%= @event.commentable.count %>)</h3>
    <ol class="microposts">
      <%= render @comments %>
    </ol>
    <%= will_paginate @comments %>
  <% end %>
</div>