<% provide(:title, @event.event_name) %>
<% @user ||= User.find(@event.user_id) %>
<% #@event_type ||= EventType.find(@event.event_type) %>

<h2>
  <%= @event.event_type%> |
  <%= @event.event_name%>
  <% if current_user.admin? || current_user?(@event.user)  %> 
    | <%= link_to "delete", @event , method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @event.event_name %>
  <% end %> 
</h2>

<div class= "row">
  <div class="span3">
    <tab><%= image_tag("#", size:"220") %>
  </div>
  <div class="span5 offset1">
    <h3> by <%= link_to @user.first_name+" "+@user.last_name, @user %> </h3>
    <p>
      Start at:<%= @event.start_date%> <br><br>
      End at: <%= @event.end_date%>  
    </p>
  </div>
</div>

<!-- Nav tabs -->
<div class ="subtitle_tab_head">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#about" data-toggle="tab">About</a></li>
    <li><a href="#location" data-toggle="tab"> Location </a></li>
    <li><a href="#pre-regist" data-toggle="tab"> Pre-regist </a></li>
    <li><a href="#contact" data-toggle="tab"> Contact / Social </a></li>
  </ul>
</div>

<div class ="subtitle_content">
  <!-- Tab panes -->
  <div class="tab-content"> 
    <div class="tab-pane active" id="about">
      <b> Cost: </b> 
        <% if @event.event_cost = 0 %> free
        <% else %> <%= @event.event_cost%> <% end %> |
      <b>Food & Drink:</b> 
        <% if @event.event_food%> included
        <% else %> not included <% end %>  
      <br><br>
      <b> Guest Limit: </b> <%= @event.event_guest_limit%> |
      <%= @event.event_guest_type%>
      <br><br>
      <%= @event.event_description%>
    </div>
    <div class="tab-pane" id="location">
      <% for has_location in @event.has_locations %>
        <b> Location: </b> 
        <%= has_location.location %> | 
        <b> room: </b>
        <%= has_location.room %>
        (<%= has_location.floor_number %>th Floor ) <br><br>
        <b> Location Description: </b>
        <%= has_location.description %>
      <% end %>
    </div>
    <div class="tab-pane" id="pre-regist">
      <b> Guest Limit: </b> <%= @event.event_guest_limit%>  <br><br>
      <% if @event.event_preregist %>
        <% #render '' %>
      <% else %>
        <h3> This event does not require pre-registration </h3><br> 
      <% end %>
    </div>
    <div class="tab-pane" id="contact">
      <div class="roew">
        <div class="span4 offset">
          <b> Contact Info: </b><br>
          <% for has_contact in @event.has_contacts %>
            <b> Name: </b> <%= has_contact.contact_name %> <br>
            <b> Phone: </b> <%= has_contact.contact_phone %> | <%= has_contact.contact_email %>
          <% end %>
        </div>
        <div class="span4 offset1">
         <b> Social Media Links: </b><br>
        <% for has_social in @event.has_socials %>
            <b><%= has_social.social_links %> </b> | 
            <%= has_social.social_url %> 
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class ="subtitle_head">Comments (<%= @event.comments.count %>)</div>
  <div class ="subtitle_content">
    <div class = "row">
      <div class="span8">
        <%= render 'shared/comment_form' %>
      </div>
      <div class="span8">
        <% if @comment_items.any? %>
          <ol class="comments">
            <%= render partial: 'comments/comment', collection: @comment_items %>
          </ol>
          <%= will_paginate @comment_items %>
        <% end %>
      </div>
    </div>
  </div>
