<% provide(:title, @event.event_name) %>


<h1><%= @event.event_name%> <% if current_user.admin? || current_user?(@event.user)  %> 
        | <%= link_to "delete", @event , method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: @event.event_name %>
<% end %> </h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab">About</a></li>
  <li><a href="#profile" data-toggle="tab">Location</a></li>
  <li><a href="#messages" data-toggle="tab">Pre-regist</a></li>
  <li><a href="#settings" data-toggle="tab">Contact / Social</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="home">About</div>
  <div class="tab-pane" id="profile">Location</div>
  <div class="tab-pane" id="messages">Pre-regist</div>
  <div class="tab-pane" id="settings">Settings</div>
</div>


<div>
  <h3>Comments (<%= @event.comments.count %>)</h3>
  <section class="span5">
    <%= render 'shared/comment_form' %>
  </section>
  <div class="span8">
    <% if @comment_items.any? %>
      <ol class="comments">
        <%= render partial: 'comments/comment', collection: @comment_items %>
      </ol>
      <%= will_paginate @comment_items %>
    <% end %>
  </div>
</div>