<% provide(:title, "Edit Event Types") %>
<h1>Update Event Types</h1>

<div>
  <%= form_for(@event_type) do |f| %>
	<%= f.label :name, "Event Type Name" %>
	<%= f.text_field :name %>

	<%= f.label :color %>
	<%= f.color_field :color, class: "color-picker"%>
	  
	<%= f.label :image %>
	<%= f.file_field :image%>

	<%= f.submit "Edit this Event Type", class: "btn btn-medium btn-warning" %>
  <% end %>
</div>