<% provide(:title, "Edit Location") %>
<h1>Update Location : <%= @location.location_name %> </h1>


<div class = "row">
  <div class="span4 offset2">
	<%= form_for(@location) do |f| %>
	      
	  <%= render 'shared/error_messages', object: f.object %>
	  
	  <%= f.label :map_number %>
	  <%= f.text_field :map_number, :maxlength=>"2"%>

	  <%= f.label :location_name %>
	  <%= f.text_field :location_name %>

	  <%= f.submit "Edit this Location", class: "btn btn-medium btn-warning" %>

	<% end %>
  </div>
</div>