
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BEE MUIC", '#', id: "logo" %>
      <nav>
        <ul class="nav">
          <li><%= link_to "Events",    '#' %></li>
          <li><%= link_to "Dining",    '#' %></li>
          <li><%= link_to "Housing", '#' %></li>
          <li><%= link_to "Course", '#' %></li>
          <li><%= link_to "Career", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
